*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.outer{
    width:800px;
    height: 800px;
    padding: 6px;
}
.child1{
     background-color: red;
     width:400px;
    height: 400px;
}
.child2{
    background-color: rgb(148, 17, 17);
    border: 2px solid ;
    width:400px;
    height: 400px;
}