*{
    margin:0;
    padding:0;
}

.container{
    width: 100vw;
    height:100vh;
    background-color: beige;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header" "sidebar content1 content2" "sidebar content3 content4" "footer footer footer";
  
    
}
.class{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    grid-area: header;
}
.sidebar{
    grid-area: sidebar;
}
.content1{
    grid-area: content1;
}
.content2{
    grid-area: content2;
}
.content3{
    grid-area: content3;
}
.content4{
    grid-area: content4;
}
.footer{
    grid-area: footer;
}